body{
  
  background-image: url('../images/sand3.jpg');
}

.breadcrumb2 {
    background-color: #F5F5F5;
    border-radius: 4px 4px 4px 4px;
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 8px 15px;
}

.breadcrumb2 li{
  display:  inline;
}

.brand{
  padding: 5px;
  margin-top: -15px;
  background-image: url('../images/sand1b.jpg');
}
.brand a{
  text-decoration: none;
}


#footer li{
  display: inline;
  
}

#footer ul{
  list-style: square;
} 
